body {
  background-color: #d6f0ff;
  background-image: url("../../media/examples/lizard.png");
}

h1 {
  font-family: Galmuri11;
  color: white;
  text-align: center;
}

p {
  font-family: Galmuri11;
  font-size: 20px;
}
