<link href="https://github.com/alpherthax/arcaspai/blob/main/souces/Galmuri11.woff2?raw=true">

* {
  font-family: Galmuri11;
}

body {
  background-color: #d6f0ff;
  background-image: url("../../media/examples/lizard.png");
}

h1 {
  color: #2e4659;
  text-align: center;
}

p {
  
  font-size: 20px;
}
