h1,h2,h3,h4,h5,h6 {
  color: #265ea3;
  font-family: 'PFStardust';
  line-height: 130%;
  text-align: center;
}
p,div,li,summary,button {
  color: #265ea3;
  font-family: 'PFStardust';
  line-height: 130%;
}
a {
  color: #3e95ff;
  font-family: 'PFStardust';
  line-height: 130%;
}
td,th{
  padding: 20px;
}
table{
  margin: 100px 0 0 26.5%;
}

@font-face {
    font-family: 'PFStardust';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/PFStardust.woff') format('woff');
    font-weight: nomal;
    font-style: normal;
}

/* Start https://www.cursors-4u.com */ * {cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat993.cur), auto !important;} /* End https://www.cursors-4u.com */