@font-face {
    font-family: 'Galmuri11';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/Galmuri11.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: "Galmuri11";
  color: #214b6b;
}

body {
  background-color: #d0d7e3;
  background-image: url("backgroundpattern.png");
}

h1 {
  color: #2e4659;
  text-align: center;
}

h4 {
    text-align: center;
}

table {
    border: 3px solid;
    background: #fff;
    margin: 10px auto;
    width: 900px;
    padding: 1%;
}

hr {
   border: 2px dashed #3e94e1; 
}

details {
    margin: 10px auto;
}

button {
    border: 0px;
    background: #3e94e1;
    text-align: center;
    color: #fff;
    padding: 20px;
}
