@font-face {
    font-family: 'Galmuri11';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/Galmuri11.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: "Galmuri11";
  color: #122d42;
}

body {
  background-color: #d6f0ff;
  background-image: url("backgroundpattern.png");
}

h1 {
  color: #2e4659;
  text-align: center;
}

p {
  font-size: 20px;
}
