h1 { font-family: galmoori, Times, serif; }
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
{}{}

@font-face {
    font-family: 'Galmuri11';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/Galmuri11.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
